.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
  background-color: blue;
  margin-left: 100px;
}
.projetosContainer{
	background-color: red;
	width: 600px;
}
.projeto{
	list-style: NONE;
	background-color: green;
	margin-top: 120px;
}
.projeto a{
	text-decoration: none;
	color: black;
}
.projeto a:hover{
	text-decoration: underline;
}