  
  :root {
    --primary-color: #ff512f; 
    --secondary-color: #353535; 
    --terciary-color: #D9D9D9;
    --fourth-color: #1845ad;
    --text-color: #fefefe; 
    --border-radius: 20px; 

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  box-sizing: border-box;
  background-color: var(--secondary-color);
  color: var(--text-color);
}
h1{
  background-color: transparent;
  font-size: 40px;
  font-weight: bold;
}


.menu {
  position: fixed;
  left: 0;
  background-color: rgba(255,255,255,0.08);
  height: 100%;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px 20px 20px 0px;
  backdrop-filter: blur(10px);
  gap: 20px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.background .shape{
  backdrop-filter: blur(10px);
  height: 100px;
  width: 100px;
  position:fixed;
  border-radius: 50%;
}
.shape:first-child{
background: linear-gradient(
    #1845ad,
    #23a2f6
);
left: -10px;
top: 0px;

}
.shape:last-child{
background: linear-gradient(
    to right,
    #ff512f,
    #f09819
);
left: 150px;
bottom: 0px;
}

.lista-menu {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.lista-menu li {
  background-color: transparent;
  padding: 1px;
}

.lista-menu li a {
  background-color: transparent;
  color: var(--text-color);
  text-decoration: none;
}

.lista-menu a:hover {
  color: var(--primary-color)
}

.selecionado {
  color: var(--text-color);
}

.selecionado a {
  backdrop-filter: blur(10px);
  color: var(--text-color);


}
